[Unit]
Description=Disable blinking cursor

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo 0 > /sys/class/graphics/fbcon/cursor_blink"

[Install]
WantedBy=multi-user.target