[Unit]
Description=Slot Car Timer Frontend
After=slot_timer.service timer_update.service network-online.target
Wants=slot_timer.service timer_update.service network-online.target

[Service]
WorkingDirectory=/home/pi/SlotRacr/frontend
ExecStart=/home/pi/SlotRacr/frontend/app.py
User=pi

[Install]
WantedBy=multi-user.target