[Unit]
Description=Slot Car Timer Frontend
After=slot_timer

[Service]
WorkingDirectory=/home/pi/frontend
ExecStart=/home/pi/frontend/app.py
User=pi

[Install]
WantedBy=multi-user.target