[Unit]
Description=Slot Car Timer Backend
After=pygpiod
User=pi

[Service]
ExecStart=/usr/bin/slotcar.py

[Install]
WantedBy=multi-user.target