[Unit]
Description=Slot Car Timer Backend
After=pygpiod.service timer_update.service
Wants=pygpiod.service timer_update.service

[Service]
WorkingDirectory=/home/pi/SlotRacr/backend
ExecStart=/home/pi/SlotRacr/backend/app.py
User=pi

[Install]
WantedBy=multi-user.target