[Unit]
Description=Slot Car Timer Backend
After=pygpiod

[Service]
WorkingDirectory=/home/pi/backend
ExecStart=/home/pi/backend/app.py
User=pi

[Install]
WantedBy=multi-user.target