[Unit]
Description=Slot Car Timer Backend
After=pygpiod

[Service]
WorkingDirectory=/home/pi/BackEnd
ExecStart=/home/pi/BackEnd/slotcar.py
User=pi

[Install]
WantedBy=multi-user.target