[Unit]
Description=Slot Car Timer Upgrade Check
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/pi/SlotRacr
ExecStart=/home/pi/SlotRacr/update/update.sh
RemainAfterExit=yes
User=pi

[Install]
WantedBy=multi-user.target