[Unit]
Description=Slot Car Station Service

[Service]
WorkingDirectory=/home/slotracr/station
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/slotracr/station/station.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target